BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #bfc4cb
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.content {
	BACKGROUND-COLOR: #bfc4cb
}
TABLE.toc {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.toc TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #eeeeee
}
TABLE.tablist {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #e9f2fc
}
TABLE.tablist TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #d5d5d5
}
TABLE.toc TD A:link {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
TABLE.toc TD A:visited {
	FONT-WEIGHT: bold; COLOR: #646464; TEXT-DECORATION: none
}
TABLE.toc TD A:hover {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: underline
}
TABLE.csytoc TD A:link {
	FONT-WEIGHT: bold; COLOR: #4c4c4c; TEXT-DECORATION: none
}
TABLE.csytoc TD A:visited {
	FONT-WEIGHT: bold; COLOR: #4c4c4c; TEXT-DECORATION: none
}
TABLE.csytoc TD A:hover {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: underline
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 36px; FONT-FAMILY: Times New Roman, serif
}
.maxvirtual {
	FONT-WEIGHT: normal; FONT-SIZE: 32px; PADDING-BOTTOM: 0px; COLOR: #e9f2fc; PADDING-TOP: 0px; FONT-FAMILY: Times New Roman, serif; LETTER-SPACING: 3px
}
.subhead {
	PADDING-RIGHT: 70px; FONT-WEIGHT: normal; FONT-SIZE: 18px; PADDING-BOTTOM: 5px; COLOR: #e9f2fc; PADDING-TOP: 0px; FONT-FAMILY: Times New Roman, serif; LETTER-SPACING: 1px
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
P {
	FONT-WEIGHT: normal; TEXT-JUSTIFY: inter-word; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	FONT-WEIGHT: bold; COLOR: black; texxt-decoration: none
}
.nav {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.navon {
	CURSOR: hand; BACKGROUND-COLOR: #354463
}
.navoff {
	CURSOR: hand; BACKGROUND-COLOR: #5f7797
}
A.navlink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e9f2fc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.navlink:visited {
	FONT-WEIGHT: bold; COLOR: #e9f2fc; TEXT-DECORATION: none
}
A.newslink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #354463; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.newslink:visited {
	COLOR: #900020; TEXT-DECORATION: none
}
A.newslink:hover {
	TEXT-DECORATION: underline
}
LI {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 7px; COLOR: #333333; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsheader {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #e9f2fc; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #5f7797
}
.newscell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 9px; COLOR: #464c64; LINE-HEIGHT: 10px; PADDING-TOP: 7px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a7aeb8
}
.update {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #e9f2fc; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copyright {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #464c64; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tut_tablink {
	PADDING-RIGHT: 2em; DISPLAY: inline; PADDING-LEFT: 2em; FONT-WEIGHT: bold; COLOR: #ccc; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tut_tab {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; BORDER-LEFT-COLOR: #003366; BACKGROUND: #ffffff; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #003366; PADDING-BOTTOM: 10px; WIDTH: 100%; COLOR: #333; BORDER-TOP-COLOR: #003366; PADDING-TOP: 10px; FONT-FAMILY: verdana,arial,sans serif; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #003366
}
.tut_backtotop {
	DISPLAY: none
}
DIV.code {
	BORDER-RIGHT: #cccccc 0px; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 0px; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 0px; FONT-FAMILY: 'Courier New' , Monospace; BACKGROUND-COLOR: #eeeeee
}
TD.tut_toc_on {
	BACKGROUND-COLOR: #eeeeee
}
TD.tut_toc_on {
	BACKGROUND-COLOR: #eeeeee
}
TD.tut_toc_off {
	BACKGROUND-COLOR: #eeeeee
}
TD.tut_toc_on:link {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
TD.tut_toc_off:link {
	FONT-WEIGHT: normal; COLOR: black; TEXT-DECORATION: none
}
TD.tut_toc_on {
	COLOR: black; TEXT-DECORATION: none
}
TD.tut_tut_off A:visited {
	COLOR: black; TEXT-DECORATION: none
}
TD.tab {
	BORDER-RIGHT: black 0px; PADDING-RIGHT: 3px; BORDER-TOP: black 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: bold 9pt verdana; BORDER-LEFT: black 1px solid; CURSOR: hand; PADDING-TOP: 3px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center
}
TD.backtab {
	BORDER-RIGHT: black 0px; PADDING-RIGHT: 3px; BORDER-TOP: black 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: bold 9pt verdana; BORDER-LEFT: black 1px solid; CURSOR: hand; PADDING-TOP: 3px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
TD.space {
	BORDER-RIGHT: #bfc4cb 1px; PADDING-RIGHT: 0px; BORDER-TOP: #bfc4cb 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 8pt verdana; BORDER-LEFT: black 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #bfc4cb 1px
}
.tabhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #e9f2fc; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #354463
}
